In [1]:
# basic data analytics import
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [2]:
df = pd.read_csv('https://gist.githubusercontent.com/noamross/e5d3e859aa0c794be10b/raw/b999fb4425b54c63cab088c0ce2c0d6ce961a563/cars.csv',)
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
df.iloc[10:21] # iloc and loc for slicing pandas dataframe

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [5]:
df.rename(columns={'Unnamed: 0':'model'},inplace=True)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [8]:
df.to_csv('../datasets/car_models.csv',index=False) # save file without autonumbering

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/car_models.csv'

In [ ]:
df.dtypes

In [ ]:
df.describe(include='all')

In [ ]:
df[['mpg','model']]

In [ ]:
df.iloc[:,:5]

# data wrangling

In [ ]:
url = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
cols = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(url,names=cols) 
df.head(2)

Missing data handling

In [ ]:
df.replace('?',np.nan, inplace=True)

In [ ]:
df.isnull().sum()

# deal missing data
1. Drop data
    - drop the whole row
    - drop whole column
2. Replace data
   - replace it with mean => numeric columns 
   - replace it by frequency => categorical or non-numeric
   - replace it by algo => when you need to optimize or automate

In [ ]:
# basic data analysis
# mean_norm_loss = df['normalized-losses'].astype(float).mean()
# df['normalized-losses'].replace(np.nan, mean_norm_loss)

### simple imputer - a class from sklearn that can fill the empty values of columns

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
df['num-of-doors']

In [ ]:
df['num-of-doors'].value_counts()

In [ ]:
doors_imputer = SimpleImputer(strategy='most_frequent')
doors_imputer.fit_transform(df[['num-of-doors']])

# revisiting Imputers

In [ ]:
df = pd.read_csv('../datasets/sample_data.csv')
df.head()

In [ ]:
imputer = SimpleImputer()
out = imputer.fit_transform(df[['salary','age']])

In [ ]:
out.astype(int)

In [ ]:
df['salary']=out[:,0]
df['age']=out[:,1]
df

# converting categorical data
- encode directly to numbers
    - if the categories are 2 in number
    - we use `label encoder` for this task
    - `sklearn.preprocessing.LabelEncoder`
- encode data to indicator/dummy variables 
    - if the categories are more than 2
    - we use `one hot encoder` for this
    - `sklearn.preprocessing.LabelEncoder`

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [ ]:
happy_lbl_encoder = LabelEncoder()
df['happy'] = happy_lbl_encoder.fit_transform(df['happy'])

In [ ]:
country_hot_encoder = OneHotEncoder()
encoded_country_data = country_hot_encoder.fit_transform(df[['country']]).toarray()

In [ ]:
encoded_country_data

In [ ]:
country_hot_encoder.categories_

In [ ]:
country_hot_encoder.transform([['germany'],['italy'],['germany']]).toarray()

In [ ]:
print(happy_lbl_encoder.transform([['yes'],['no']]))

In [ ]:
print(country_hot_encoder.inverse_transform([[0,1,0]]))

In [ ]:
# df from automobile
automobilemake_hot_encoder= OneHotEncoder()
automobilemake_hot_encoder.fit_transform(df[['make']]).toarray()

In [ ]:
automobilemake_hot_encoder.transform([['audi']]).toarray()

In [ ]:
pd.get_dummies(df['make']) # this is used in analysis not for prediction

# binning
- not the most common this
- numerical col to categorical col

In [ ]:
df = pd.read_csv('../datasets/sample_data.csv')
df.head()

In [ ]:
df.salary.hist() # we have three ranges in salary

In [ ]:
salary_names = ['low','normal','high']
bins = np.linspace(df.salary.min(),df.salary.max(),4)
bins

In [ ]:
df['salary_groups'] = pd.cut(df.salary, bins, labels=salary_names,
                              include_lowest=True)
df